In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
df=pd.read_csv("50_Startups.csv")

In [25]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [26]:
#taking independent features
X= df.iloc[:,:-1]
y=df.iloc[:,4]

In [27]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [28]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [29]:
X.shape,y.shape

((50, 4), (50,))

In [30]:
X.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State'], dtype='object')

In [31]:
X.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
dtype: object

In [32]:
#Now since State is a categorical variable we will try and encode before going ahead
states=pd.get_dummies(X['State'],drop_first=True,dtype=int)

In [33]:
X.drop(['State'],axis=1,inplace= True)

In [34]:
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [35]:
X=pd.concat([X,states],axis=1)

In [36]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [37]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [38]:
X_train,y_train

(    R&D Spend  Administration  Marketing Spend  Florida  New York
 34   46426.07       157693.92        210797.67        0         0
 18   91749.16       114175.79        294919.57        1         0
 7   130298.13       145530.06        323876.68        1         0
 14  119943.24       156547.42        256512.92        1         0
 45    1000.23       124153.04          1903.93        0         1
 48     542.05        51743.15             0.00        0         1
 29   65605.48       153032.06        107138.38        0         1
 15  114523.61       122616.84        261776.23        0         1
 30   61994.48       115641.28         91131.24        1         0
 32   63408.86       129219.61         46085.25        0         0
 16   78013.11       121597.55        264346.06        0         0
 42   23640.93        96189.63        148001.11        0         0
 20   76253.86       113867.30        298664.47        0         0
 43   15505.73       127382.30         35534.17        0         1
 8   120542.52       148718.95        311613.29        0         1
 13   91992.39       135495.07        252664.93        0         0
 25   64664.71       139553.16        137962.62        0         0
 5   131876.90        99814.71        362861.36        0         1
 17   94657.16       145077.58        282574.31        0         1
 40   28754.33       118546.05        172795.67        0         0
 49       0.00       116983.80         45173.06        0         0
 1   162597.70       151377.59        443898.53        0         0
 12   93863.75       127320.38        249839.44        1         0
 37   44069.95        51283.14        197029.42        0         0
 24   77044.01        99281.34        140574.81        0         1
 6   134615.46       147198.87        127716.82        0         0
 23   67532.53       105751.03        304768.73        1         0
 36   28663.76       127056.21        201126.82        1         0
 21   78389.47       153773.43        299737.29        0         1
 19   86419.70       153514.11             0.00        0         1
 9   123334.88       108679.17        304981.62        0         0
 39   38558.51        82982.09        174999.30        0         0
 46    1315.46       115816.21        297114.46        1         0
 3   144372.41       118671.85        383199.62        0         1
 0   165349.20       136897.80        471784.10        0         1
 47       0.00       135426.92             0.00        0         0
 44   22177.74       154806.14         28334.72        0         0,
 34     96712.80
 18    124266.90
 7     155752.60
 14    132602.65
 45     64926.08
 48     35673.41
 29    101004.64
 15    129917.04
 30     99937.59
 32     97427.84
 16    126992.93
 42     71498.49
 20    118474.03
 43     69758.98
 8     152211.77
 13    134307.35
 25    107404.34
 5     156991.12
 17    125370.37
 40     78239.91
 49     14681.40
 1     191792.06
 12    141585.52
 37     89949.14
 24    108552.04
 6     156122.51
 23    108733.99
 36     90708.19
 21    111313.02
 19    122776.86
 9     149759.96
 39     81005.76
 46     49490.75
 3     182901.99
 0     192261.83
 47     42559.73
 44     65200.33
 Name: Profit, dtype: float64)

In [39]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [40]:
y_pred=model.predict(X_test)

In [41]:
y_pred

array([104440.72582616, 132253.81567698, 132872.07174272,  71707.78771428,
       178678.9934985 , 115078.13124331,  66093.9297267 ,  98759.7276409 ,
       114113.5994088 , 167979.49411476,  95786.77295823,  87785.3497979 ,
       110455.98228344])

In [43]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

0.931581519915206